.hour-block {
    display: inline-block;
    width: calc(25% - 11px);
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.hour-block:last-child {
    margin-right: 0;
}

.hour-block:nth-child(4n) {
    margin-right: 0;
}

.hour-block:last-child:nth-child(4n) {
    margin-bottom: 0;
}

#booking-submit-button {
    background-color: #808080;
    color: #fff;
}

#just-a-gap {
    margin-bottom: 10em;
}

.book-selected {
    background-color: #eaD6f7;
}

.warn-booking {
    color: red;
}